<h1>New word page</h1>

<!-- This prints the random letters as squares in a horizontal line -->
<div>
  <ul>
  <% @letters.each do |name|%>
  <li><%= name %></li>
  <% end %>
  </ul>
</div>
<!-- form to find a word from the letters  -->

<div>
  <form action="/score">
    <input type="text" name="word">
    <input type="submit" value="new">
      <!-- This saves letters which is passed as @letters to use in the controller-->
      <%= hidden_field_tag :letters, @letters %>
  </form>
</div>
